In [60]:
# # import pandas library
# import pandas as pd
# # load the data into a dataFrame object
# #first let create a dictionaries 
# data={"School ID":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],
#      "School Name":["Huang High School","Figueroa High School","Shelton High School","Hernandez High School",
#                    "Griffin High School","Wilson High School", "Cabrera High School","Bailey High School",
#                     "Holden High School", "Pena High School","Wright High School","Rodriguez High School",
#                    "Johnson High School", "Ford High School", "Thomas High School"],
#       "Type": [
#         "District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District",
#         "Charter", "Charter", "Charter", "District", "District", "District", "Charter"
#     ],
#      "Size": [
#         2917, 2949, 1761, 4635, 1468, 2283, 1858, 4976, 427, 962, 1800, 3999, 4761, 2739, 1635
#     ],
#      "Budget": [
#         1910635, 1884411, 1056600, 3022020, 917500, 1319574, 1081356, 3124928, 248087, 585858,
#         1049400, 2547363, 3094650, 1763916, 1043130
#     ]}
# schools_df =pd.DataFrame(data)
# print(schools_df)

In [4]:
# Calculations for District Summary
import pandas as pd
schools_df =pd.read_csv('schools_complete.csv')
students_df =pd.read_csv('students_complete.csv')
merged_data = pd.merge(students_df, schools_df, how='left', on=["school_name", "school_name"])
#schools_df.head()
#students_df.head()
merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:

total_schools = schools_df["School ID"].nunique()
total_students = schools_df["size"].sum()
total_budget = schools_df["budget"].sum()
#total_schools
total_students
#total_budget

39170

In [6]:
# Average math and reading scores
average_math_score = merged_data['math_score'].mean()
average_reading_score = merged_data['reading_score'].mean()

In [36]:
# Percentage of students passing math, reading, and overall
passing_math_percentage = (merged_data['math_score'] >= 70).sum() / total_students * 100
passing_reading_percentage = (merged_data['reading_score'] >= 70).sum() / total_students * 100
overall_passing_percentage = (merged_data[(merged_data['math_score'] >= 70) & (merged_data['reading_score'] >= 70)]['student_name'].count() / total_students) * 100

# Placeholder values for averages and passing percentages
average_math_score = 75  # Placeholder
average_reading_score = 80  # Placeholder
percent_passing_math = 70  # Placeholder
percent_passing_reading = 85  # Placeholder
percent_overall_passing = 65  # Placeholder

district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,75,80,70,85,65

In [8]:
# group by school name

school_group =schools_df.groupby('School ID')
print(school_group.head())

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [16]:
# Calculate total students, total budget, per student budget, average math score, average reading score,
# percentage passing math, percentage passing reading, and percentage overall passing for each school
school_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing]

SyntaxError: incomplete input (2478544794.py, line 11)

In [12]:
schools_df.agg(["sum", "min"])

,School ID,school_name,type,size,budget
sum,105,Huang High SchoolFigueroa High SchoolShelton H...,DistrictDistrictCharterDistrictCharterCharterC...,39170,24649428
min,0,Bailey High School,Charter,427,248087

In [ ]:
# Rename columns
school_summary_df.rename(columns={
    'Student ID': 'Total Students',
    'Total Budget': 'Total School Budget',
    'Average Math Score': 'Average Math Score',
    'Average Reading Score': 'Average Reading Score',
    'Passing Math': '% Passing Math',
    'Passing Reading': '% Passing Reading',
    'Overall Passing': '% Overall Passing'
     school_summary_df
    
}, inplace=True)

In [ ]:
Calculate per student budget
school_summary_df['Per Student Budget'] = school_summary_df['Total School Budget'] / school_summary_df['Total Students']

In [44]:
# Sort the school summary DataFrame by % overall passing in descending order
top_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=False)

NameError: name 'school_summary_df' is not defined

In [45]:
# Display the top 5 rows
top_schools = top_schools.head(5)

NameError: name 'top_schools' is not defined

In [46]:
# Sort the school summary DataFrame by % overall passing in ascending order
bottom_schools = school_summary_df.sort_values(by='% Overall Passing', ascending=True)

# Display the top 5 rows
bottom_schools = bottom_schools.head(5)

NameError: name 'school_summary_df' is not defined

In [49]:
# Pivot the data to get average math scores for each grade level at each school
math_scores_by_grade = schools_df.pivot_table(index='School Name', columns='Grade', values='Average Math Score', aggfunc='mean')

KeyError: 'Average Math Score'

In [52]:
# Reorder the columns
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]

NameError: name 'math_scores_by_grade' is not defined

In [53]:
# Pivot the data to get average reading scores for each grade level at each school
reading_scores_by_grade = schools_df.pivot_table(index='School Name', columns='Grade', values='Reading Score', aggfunc='mean')

# Reorder the columns
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

KeyError: 'Reading Score'

In [54]:
# Define spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["< $585", "$585-630", "$630-645", "$645-680"]

In [55]:
# Categorize spending based on the bins using pd.cut
schools_df['Spending Range (Per Student)'] = pd.cut(schools_df['Total Budget'] / schools_df['Total Students'], bins=spending_bins, labels=spending_labels)

KeyError: 'Budget'

In [56]:
# Group data by spending range
spending_group = schools_df.groupby('Spending Range (Per Student)')

KeyError: 'Spending Range (Per Student)'

In [57]:
# Calculate mean scores per spending range
spending_summary = spending_group.agg({
    'Math Score': 'mean',
    'Reading Score': 'mean',
    'Passing Math': lambda x: (x >= 70).mean() * 100,
    'Passing Reading': lambda x: (x >= 70).mean() * 100,
    'Overall Passing': lambda x: ((x['Math Score'] >= 70) & (x['Reading Score'] >= 70)).mean() * 100
})

NameError: name 'spending_group' is not defined

In [58]:
# Define size bins and labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [59]:
# Categorize school size based on the bins using pd.cut
schools_df['School Size'] = pd.cut(schools_df['Total Students'], bins=size_bins, labels=size_labels)

KeyError: 'Total Students'

In [60]:
# Group data by school size
size_group = schools_df.groupby('School Size')

KeyError: 'School Size'

In [61]:
# Calculate mean scores per school size range
size_summary = size_group.agg({
    'Math Score': 'mean',
    'Reading Score': 'mean',
    'Passing Math': lambda x: (x >= 70).mean() * 100,
    'Passing Reading': lambda x: (x >= 70).mean() * 100,
    'Overall Passing': lambda x: ((x['Math Score'] >= 70) & (x['Reading Score'] >= 70)).mean() * 100
    print(size_summary.head())
})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3474585833.py, line 7)

In [62]:
# Group data by school type
type_group = schools_df.groupby('type')
print (type_group.head())

KeyError: 'School Type'

In [ ]:
# Calculate mean scores per school type
type_summary = type_group.agg({
    'Math Score': 'mean',
    'Reading Score': 'mean',
    'Passing Math': lambda x: (x >= 70).mean() * 100,
    'Passing Reading': lambda x: (x >= 70).mean() * 100,
    'Overall Passing': lambda x: ((x['Math Score'] >= 70) & (x['Reading Score'] >= 70)).mean() * 100
})